// color
$color__hle-blue: #27ade7;
$color__hle-orange: #fb7925;
$color__hle-white: #ffffff;
$color__hle-black: #000000;
$color__hle-blue-dark: #1380af;
$color__hle-orange-dark: #dd6b22;
$color__hle-grey: #9d9b9b;
$color__hle-dark-grey: #2d2d2d;
$color__hle-blue-light: #eff8fc;
$color__hle-blue-orange: #fff1e8;
$color__hle-light-grey: #d7d7d7;
$color__hle-dark-grey: #515151;
$color__hle-light-orange: #fff1e8;
$color__hle-dark-grey1: #2d2d2d;
$color__hle-dark-grey2: #515151;
$color__hle-grey1: #ccc;
$color__hle-grey2: #eee;
$color__hle-grey3: #787878;
$color__hle-white1: #fafafa;
$color__hle-tooltip: #2b222a;
$color__table-border: #e9e9e9;
$color__hle-dark-grey01: #515151;

$color__tick-green: #29ad2c;
$color__cross-red: #9d2a2a;
$color__alert-yellow: #e29700;

// font
$font_main: Open Sans;
$color__text-main: #000;

//font size
$content_size: 16px;

$color__hle-green: #29ad2c;
$color__hle-red: #9d2a2a;
$color__hle-yellow: #e29700;

// Alert component colors
$color__alert-primary: rgba(39, 173, 231, 0.2);
$color__alert-red: rgba(157, 42, 42, 0.2);
$color__alert-warn: rgba(226, 151, 0, 0.2);
$color__alert-success: rgba(41, 173, 44, 0.2);
$color__alert-info: rgba(19, 128, 175, 0.2);
