.lqs-new-table {
    .filter-dropdown {
        position: absolute;
        background: $color__hle-white;
        box-shadow: 0 7px 10px $color__hle-light-grey;
        border: 1px solid $color__hle-light-grey;
        top: 38px;
        left: 0;
        z-index: 9;
        width: 250px;
        @include breakpoint(larger) {
            top: 60px;
            left: -40px;
        }
        .label-calender-from,
        .label-calender-to {
            position: relative;
        }
        .label-calender-from {
            margin-bottom: 15px;
        }
        .react-datepicker-popper {
            z-index: 2;
        }
        hr {
            border-top: 2px solid $color__hle-light-grey;
            margin: 10px 0;
        }
        input[type='date'],
        input {
            display: block;
            height: 40px;
            border-radius: 0;
            border: 1px solid $color__hle-light-grey;
            background-color: #f9f9f9;
            font-weight: 500;
            padding: 0 15px;
            margin-top: 15px;
            width: 100%;
            &:first-child {
                margin-top: 0;
            }
            &::placeholder {
                color: $color__hle-grey;
                font-weight: 500;
            }
        }
        input[type='date'] {
            width: 170px;
        }
        .button-wrap {
            @include flex-space-between;
            position: relative;
            border-top: 2px solid #f2f3f4;
            .btn {
                border-radius: 0;
                padding: 12px;
                height: auto;
                color: $color__hle-white;
                font-weight: bold;
                outline: none;
                margin-top: 0;
                width: auto;
                &.btn-dark {
                    margin-left: 0;
                    background-color: $color__hle-grey;
                }
                &.btn-blue {
                    background-color: $color__hle-blue;
                    border-color: $color__hle-blue;
                }
            }
        }
        .selectDropdown {
            .form-control {
                height: 40px;
                font-size: 14px;
                border-radius: 0 !important;
                background-color: #f9f9f9;
                .option {
                    height: 40px;
                    background-color: #9d9b9b14;
                }
            }
        }
        // .select {
        //     display: inline-block;
        //     border: 1px solid $color__hle-light-grey;
        //     color: $color__hle-grey;
        //     font-size: 14px;
        //     position: relative;
        //     text-align: left;
        //     background-color: #f9f9f9;
        //     .selectBtn {
        //         padding: 10px 100px 10px 10px;
        //         cursor: pointer;
        //         position: relative;
        //         user-select: none;
        //         height: auto;
        //         font-weight: 500;
        //         &:after {
        //             content: '';
        //             position: absolute;
        //             top: 50%;
        //             right: 15px;
        //             width: 6px;
        //             height: 6px;
        //             transform: translateY(-50%) rotate(45deg);
        //             border-right: 2px solid $color__hle-grey;
        //             border-bottom: 2px solid $color__hle-grey;
        //             transition: 0.2s ease;
        //         }
        //     }
        //     .selectDropdown {
        //         position: absolute;
        //         top: 39px;
        //         left: 0;
        //         width: 100%;
        //         height: 200px;
        //         overflow: auto;
        //         border: 1px solid $color__hle-light-grey;
        //         z-index: 1;
        //         background: #f9f9f9;
        //         transform: scale(1, 0);
        //         transform-origin: top center;
        //         visibility: hidden;
        //         transition: 0.2s ease;
        //         &.toggle {
        //             visibility: visible;
        //             transform: scale(1, 1);
        //         }
        //         .option {
        //             padding: 10px;
        //             cursor: pointer;
        //             font-weight: 500;
        //         }
        //     }
        // }
        .container-radio {
            display: block;
            position: relative;
            padding-right: 45px;
            margin-bottom: 15px;
            cursor: pointer;
            font-size: 14px;
            color: #2d2d2d;
            font-weight: 400;
            user-select: none;
            text-align: left;
            &:last-child {
                margin-bottom: 0;
            }
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked {
                    ~ {
                        .checkmark {
                            background-color: $color__hle-blue;
                            border: 1px solid $color__hle-blue;
                            &:after {
                                display: block;
                            }
                        }
                    }
                }
            }
            .checkmark {
                position: absolute;
                top: 0;
                right: 0;
                height: 18px;
                width: 20px;
                background-color: #eee;
                border: 1px solid #d2d2d2;
                &:after {
                    content: '';
                    position: absolute;
                    display: none;
                    left: 7px;
                    top: 1px;
                    width: 5px;
                    height: 12px;
                    border: solid $color__hle-white;
                    border-width: 0 3px 3px 0;
                    transform: rotate(45deg);
                }
            }
        }
        &.quality-filter {
            width: 220px;
            .select {
                width: 100%;
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
                .selectBtn {
                    padding: 10px 30px 10px 10px;
                }
            }
        }
        &.top-lead-filter {
            width: 250px;
        }
        .p-16 {
            padding: 16px;
        }
        .pb-16 {
            padding: 10px 16px 16px 16px;
        }
    }
}
